.menu {
    
    $top-offset: 65%;
    
    .logo {
        //background: url("../img/logo.png");
        width: 400px;
        top: 30%;
        left: 50%;
    }
    
    #btn-play {
        top: $top-offset;
        left: 50%;
    }
    
    #btn-credits {
        top: $top-offset + 15%;
        left: 50%;
    }
}