@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster.otf");
}

$screen_width: 800px;
$screen_height: 600px;
$profile-size: 100px;
$title-color: #dadbde;
$title-stroke: #3e3e3e 0px 0px 5px;
$bg-name: "../img/menu_bg.jpg";