.menu .logo {
  width: 400px;
  margin-bottom: 30px;
}
.menu .btn {
  margin: 15px;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.otf");
}
.credits .btn {
  position: absolute;
  transform: translate(140%, 800%);
}
.credits .developers {
  position: absolute;
  width: 350px;
  height: 260px;
  background: rgba(220, 221, 224, 0.7);
  border-radius: 6%;
  color: white;
  left: 50%;
  transform: translate(-50%, 30%);
}
.credits .developers .subtitle {
  font-weight: bold;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.otf");
}
.addplayers .back-btn {
  position: absolute;
  transform: translate(-240%, 800%);
}
.addplayers .start-btn {
  position: absolute;
  transform: translate(140%, 800%);
}
.addplayers .carousel {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 250px;
  transform: translate(-50%, -50%);
}
.addplayers .carousel .item {
  text-align: center;
  background: #333;
  width: 100px;
  height: 100px;
}
.addplayers .carousel .glyphicon {
  top: 40%;
}
.addplayers .vs {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 250px;
  text-shadow: #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px;
  transform: translate(-50%, -50%);
}
.addplayers .name {
  position: absolute;
  width: 150px;
}
.addplayers #name-p1 {
  position: absolute;
  transform: translate(510%, 450%);
}
.addplayers #name-p2 {
  position: absolute;
  transform: translate(675%, 450%);
}
.addplayers #img-p1 {
  transform: translate(395%, -50%);
}
.addplayers #img-p2 {
  transform: translate(790%, -50%);
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.otf");
}
.ingame #canvas {
  position: absolute;
}
.ingame .quit-btn {
  position: absolute;
  left: 976px;
  top: 470px;
  transform: translate(-50%, -50%);
}
.ingame .progress {
  position: absolute;
  width: 100px;
  left: 50%;
  top: 100px;
  background-color: #dadbde;
  transform: translate(-50%, -50%);
}
.ingame .progress .progress-bar {
  width: 60%;
}
.ingame .header {
  position: absolute;
  left: 50%;
}
.ingame .header .turn-indicator {
  position: absolute;
  top: 60px;
  transform: translate(-50%, -50%);
}
.ingame .header #bar-p1 {
  left: -340px;
}
.ingame .header #bar-p2 {
  left: 340px;
}
.ingame .header .score {
  position: absolute;
  top: -20px;
  transform: translate(-50%, -50%);
}
.ingame .header #score-p1 {
  left: -70px;
}
.ingame .header #score-p2 {
  left: 70px;
}
.ingame .header .vs {
  position: absolute;
  font-size: 50px;
  top: 0%;
  text-shadow: #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px;
  transform: translate(-50%, -50%);
}
.ingame .header .profile {
  position: absolute;
  transform: translate(-50%, -50%);
}
.ingame .header .image {
  width: 80px;
  height: 80px;
}
.ingame .header #profile-p1 {
  left: -340px;
}
.ingame .header #profile-p2 {
  left: 340px;
}
.ingame .header .name {
  position: absolute;
  width: 180px;
  font-size: 20px;
  top: -20px;
  transform: translate(-50%, -50%);
}
.ingame .header #name-p1 {
  left: -200px;
}
.ingame .header #name-p2 {
  left: 200px;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.otf");
}
.wrapper {
  text-align: center;
}
.wrapper .bg {
  position: absolute;
  width: 800px;
  height: 600px;
  left: 50%;
  background: url("../img/menu_bg.jpg");
  background-repeat: no-repeat;
  transform: translate(-50%, -8%);
  z-index: -1;
}
.wrapper .darken {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/menu_bg.jpg");
}
.wrapper .screen {
  margin-top: 60px;
  width: 800px;
  height: 600px;
}
.wrapper .screen .font {
  font-family: "Lobster";
  color: #dadbde;
}
.wrapper .screen .font .title {
  position: absolute;
  font-size: 50px;
  left: 50%;
  text-shadow: #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px;
  transform: translate(-50%, -40%);
}

.btn {
  width: 150px;
  font-size: 20px;
}
