.menu .logo {
  width: 400px;
  top: 30%;
  left: 50%;
}
.menu #btn-play {
  top: 65%;
  left: 50%;
}
.menu #btn-credits {
  top: 80%;
  left: 50%;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.otf");
}
.credits .btn {
  left: 87%;
  top: 90%;
}
.credits .developers {
  text-align: center;
  left: 50%;
  top: 55%;
  width: 350px;
  height: 260px;
  background: rgba(220, 221, 224, 0.7);
  border-radius: 6%;
  color: white;
}
.credits .developers .subtitle {
  font-weight: bold;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.otf");
}
.addplayers .back-btn {
  left: 13%;
  top: 90%;
}
.addplayers .start-btn {
  left: 87%;
  top: 90%;
}
.addplayers .carousel {
  top: 50%;
  width: 100px;
  height: 100px;
}
.addplayers .carousel .item {
  text-align: center;
  background: #333;
  width: 100px;
  height: 100px;
}
.addplayers .carousel .glyphicon {
  top: 40%;
}
.addplayers .vs {
  font-size: 50px;
  left: 50%;
  top: 250px;
  text-shadow: #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px;
}
.addplayers .name {
  width: 150px;
  top: 50%;
}
.addplayers #n-p1 {
  left: 30%;
}
.addplayers #n-p2 {
  left: 70%;
}
.addplayers #img-p1 {
  left: 10%;
}
.addplayers #img-p2 {
  left: 90%;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.otf");
}
.ingame #canvas {
  left: 50%;
  top: 50%;
}
.ingame .quit-btn {
  left: 87%;
  top: 90%;
}
.ingame .progress {
  width: 100px;
  left: 50%;
  top: 20%;
  background-color: #dadbee;
  border: 1px solid #3e3e3e;
}
.ingame .turn-indicator {
  top: 20%;
  width: 80px;
}
.ingame #bar-p1 {
  left: 10%;
}
.ingame #bar-p2 {
  left: 90%;
}
.ingame .score {
  top: 8%;
}
.ingame #score-p1 {
  left: 60%;
}
.ingame #score-p2 {
  left: 40%;
}
.ingame .vs {
  font-size: 50px;
  top: 10%;
  left: 50%;
  text-shadow: #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px;
}
.ingame .profile {
  width: 80px;
  height: 80px;
  top: 10%;
}
.ingame #profile-p1 {
  left: 10%;
}
.ingame #profile-p2 {
  left: 90%;
}
.ingame .name {
  width: 250px;
  font-size: 25px;
  top: 8%;
}
.ingame #name-p1 {
  text-align: left;
  left: 36%;
}
.ingame #name-p2 {
  text-align: right;
  left: 64%;
}

@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster.otf");
}
body {
  background: #121212;
}

.wrapper {
  position: absolute;
  left: 50%;
  text-align: center;
  margin-top: 30px;
  width: 800px;
  height: 500px;
}
.wrapper .show-limits {
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-color: #f0f;
  border-radius: 10px;
}
.wrapper .bg {
  position: absolute;
  background: url("../img/menu_bg.jpg");
  background-size: 800px 500px;
  background-repeat: no-repeat;
  transform: translate(-50%, 0%);
  z-index: -1;
}
.wrapper .darken {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/menu_bg.jpg");
}
.wrapper .not-supported {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/menu_bg.jpg");
}
.wrapper .not-supported .font {
  font-size: 50px;
  left: 50%;
  text-shadow: #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px;
}
.wrapper .not-supported .what {
  top: 40%;
}
.wrapper .not-supported .why {
  top: 60%;
}
.wrapper .screen {
  text-align: left;
  position: absolute;
  transform: translate(-50%, 0%);
  width: inherit;
  height: inherit;
}
.wrapper .screen .obj {
  position: absolute;
  transform: translate(-50%, -50%);
}
.wrapper .screen .btn {
  width: 150px;
  font-size: 20px;
}
.wrapper .screen .font {
  font-family: "Lobster";
  color: #dadbde;
}
.wrapper .screen .title {
  margin-top: 60px;
  font-size: 50px;
  left: 50%;
  text-shadow: #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px, #3e3e3e 0px 0px 5px;
}
